<span class="footer-marca">
    <a
        href="https://eventphotos.com.mx/"
        style="color: inherit; text-decoration: none;"
    >EventPhotos</a>
    por
    <a
        href="https://lotus-nest.com/"
        target="_blank"
        rel="noopener"
        style="color: inherit; text-decoration: none;"
    >LotusNest</a>
</span>
<span>
    <a
        href="mailto:contacto@eventphotos.com.mx"
        style="color: inherit; text-decoration: none;"
    >contacto@eventphotos.com.mx</a>
</span>
