<div>
    <a
        href="https://eventphotos.com.mx/"
        style="color: inherit; text-decoration: underline; text-underline-offset: 2px;"
    >EventPhotos</a>
    por
    <a
        href="https://lotus-nest.com/"
        target="_blank"
        rel="noopener"
        style="color: inherit; text-decoration: underline; text-underline-offset: 2px;"
    >LotusNest</a>
</div>
<div style="margin-top: 4px; overflow-wrap: anywhere;">
    <a
        href="mailto:contacto@eventphotos.com.mx"
        style="color: inherit; text-decoration: underline; text-underline-offset: 2px;"
    >contacto@eventphotos.com.mx</a>
</div>
